USE [webta]
GO
/****** Object:  StoredProcedure [dbo].[PROC_BudgetV2_AFCC]    Script Date: 9/7/2026 2:59:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PROC_BudgetV2_AFCC]
(
      @Type INT
    , @BudgetedId INT = NULL
    , @ProjectId VARCHAR(50) = NULL
    , @Budgeted VARCHAR(200) = NULL
    , @Fy3 VARCHAR(100) = NULL
    , @Fy4 VARCHAR(100) = NULL
    , @Fy5 VARCHAR(100) = NULL
    , @Fy6 VARCHAR(100) = NULL
    , @Fy7 VARCHAR(100) = NULL
)
AS
BEGIN

    SET NOCOUNT ON;

    ------------------------------------------------------------------
    -- Type 1 : Fetch all Budgeted entries of a Project (AFCC SHEET)
    ------------------------------------------------------------------
    IF(@Type = 1)
    BEGIN
        SELECT
              BudgetedId, ProjectId, Budgeted, Fy3, Fy4 , Fy5 , Fy6, Fy7, IsDeleted, CreatedOn, ModifiedOn FROM TBL_BudgetV2_AFCCProjectBudgeted
        WHERE ProjectId = @ProjectId
          AND ISNULL(IsDeleted,'N') <> 'Y'
        ORDER BY BudgetedId;

        RETURN;
    END

    ------------------------------------------------------------------
    -- Type 2 : Insert all the budgeted entries of a project (AFCC SHEET)
    ------------------------------------------------------------------
    IF(@Type = 2)
    BEGIN
        INSERT INTO TBL_BudgetV2_AFCCProjectBudgeted
        (
              ProjectId, Budgeted, Fy3, Fy4, Fy5, Fy6, Fy7, IsDeleted, CreatedOn
        )
        VALUES
        (
              @ProjectId, @Budgeted, @Fy3, @Fy4, @Fy5, @Fy6, @Fy7, 'N', CONVERT(VARCHAR(50), GETDATE(), 120)
        );

        SELECT 'Inserted Successfully' AS Message;

        RETURN;
    END

    ------------------------------------------------------------------
    -- Type 3 : Update all the budgeted entries of a project (AFCC SHEET)
    ------------------------------------------------------------------
    IF(@Type = 3)
    BEGIN
        UPDATE TBL_BudgetV2_AFCCProjectBudgeted
        SET
              Budgeted = @Budgeted, Fy3 = @Fy3, Fy4 = @Fy4, Fy5 = @Fy5, Fy6 = @Fy6, Fy7 = @Fy7, ModifiedOn = CONVERT(VARCHAR(50), GETDATE(), 120)
        WHERE BudgetedId = @BudgetedId;

        SELECT 'Updated Successfully' AS Message;

        RETURN;
    END

    ------------------------------------------------------------------
    -- Type 4 : Delete a budgeted entry of a project (AFCC SHEET)
    ------------------------------------------------------------------
    IF(@Type = 4)
    BEGIN
        UPDATE TBL_BudgetV2_AFCCProjectBudgeted
        SET
              IsDeleted = 'Y'
            , ModifiedOn = CONVERT(VARCHAR(50), GETDATE(), 120)
        WHERE BudgetedId = @BudgetedId;

        SELECT 'Deleted Successfully' AS Message;

        RETURN;
    END

    ------------------------------------------------------------------
    -- Type 5 : ENTRIES OF AFCC SHEET
    ------------------------------------------------------------------

    IF(@Type = 5)
        BEGIN

            DECLARE
                @Capital DECIMAL(18,2) = 0,
                @Revenue DECIMAL(18,2) = 0,
                @CarryForward DECIMAL(18,2) = 0,
                @AskForCurrentYear DECIMAL(18,2) = 0;
                

            -------------------------------------------------------
            -- CAPITAL
            -------------------------------------------------------
            SELECT
                @Capital =
                SUM(

                    -- Comm Capex
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY5),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY5),0) +

                    -- Cash Capex
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY5),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY5),0)

                )
            FROM TBL_BudgetV2_PDDetails
            WHERE ProjectId = @ProjectId
            AND IsDeleted = 0;

            -------------------------------------------------------
            -- REVENUE
            -------------------------------------------------------
            SELECT
                @Revenue =
                SUM(

                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY5),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY5),0) +

                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY5),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY5),0)

                )
            FROM TBL_BudgetV2_PDDetails
            WHERE ProjectId = @ProjectId
            AND IsDeleted = 0;

            -------------------------------------------------------
            -- CARRY FORWARD
            -------------------------------------------------------
            SELECT
                @CarryForward =
                ISNULL(
                    SUM(
                        ISNULL(TRY_CONVERT(DECIMAL(18,2), CommitmentAmt),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashFlowAmt),0)
                    ),
                0)
            FROM TBL_BudgetV2_ProjectWBS
            WHERE ProjectId = @ProjectId
            AND IsDeleted = 0;

            -------------------------------------------------------
            -- ASK FOR CURRENT YEAR (FY1)
            -------------------------------------------------------
            SELECT
                @AskForCurrentYear =
                SUM(

                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY1),0) +

                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY1),0)

                )
            FROM TBL_BudgetV2_PDDetails
            WHERE ProjectId = @ProjectId
              AND IsDeleted = 0;

            -------------------------------------------------------
            -- RESULT SET 1 : SUMMARY
            -------------------------------------------------------

            SELECT
                @Capital            AS Capital,
                @Revenue            AS Revenue,
                @CarryForward       AS CarryForward,

                'Hello'                AS SpentTillMarch,
                NULL                AS Contingency,

                (@Capital + @Revenue + @CarryForward) AS ProjectCost,

                NULL                AS Location,
                NULL                AS IRRPayBack,
                NULL                AS SOP,
                NULL                AS MaterialCost,

                @AskForCurrentYear  AS AskForCurrentYear,
                (@Capital + @Revenue + @CarryForward) AS TotalOutlay;

            -------------------------------------------------------
            -- RESULT SET 2 : DEPARTMENT BREAKUP
            -------------------------------------------------------
            SELECT
                P.DeptId,
                D.DepartmentName,

                ISNULL(SUM(
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY1),0)
                ),0) AS CapexFY1,

                ISNULL(SUM(
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY2),0)
                ),0) AS CapexFY2,

                 ISNULL(SUM(
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY3),0)
                ),0) AS CapexFY3,


                  ISNULL(SUM(
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY4),0)
                ),0) AS CapexFY4,

                  ISNULL(SUM(
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY5),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY5),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY5),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY5),0)
                ),0) AS CapexFY5,

                ISNULL(SUM(
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY1),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY1),0)
                ),0) AS RevexFY1,

                 ISNULL(SUM(
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY2),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY2),0)
                ),0) AS RevexFY2,

                 ISNULL(SUM(
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY3),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY3),0)
                ),0) AS RevexFY3,

                 ISNULL(SUM(
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY4),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY4),0)
                ),0) AS RevexFY4,

                 ISNULL(SUM(
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY5),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY5),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY5),0) +
                    ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY5),0)
                ),0) AS RevexFY5


                FROM TBL_BudgetV2_PDDetails P
                INNER JOIN TBL_BudgetV2_Department D
                    ON P.DeptId = D.DepartmentID
                WHERE P.ProjectId = @ProjectId
                AND P.IsDeleted = 0
                    GROUP BY
                    P.DeptId,
                    D.DepartmentName;

            RETURN;
        END


        IF(@Type = 6)
            BEGIN

                ----------------------------------------------------
                -- Department Wise AFCC Summary
                ----------------------------------------------------

                SELECT
                    P.DeptId,
                    D.DepartmentName,

                    0 AS CarryForward,

                    ------------------------------------------------
                    -- FY1 CAPEX
                    ------------------------------------------------
                    ISNULL(SUM(

                        ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY1),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY1),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY1),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY1),0)

                    ),0) AS FY1Capex,

                    ------------------------------------------------
                    -- FY1 REVEX
                    ------------------------------------------------
                    ISNULL(SUM(

                        ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY1),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY1),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY1),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY1),0)

                    ),0) AS FY1Revex,

                    ------------------------------------------------
                    -- FY1 TOTAL
                    ------------------------------------------------
                    ISNULL(SUM(

                        ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY1),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY1),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY1),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY1),0)

                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY1),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY1),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY1),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY1),0)

                    ),0) AS FY1Total,

                    ------------------------------------------------
                    -- FY2 ONWARDS
                    ------------------------------------------------
                    ISNULL(SUM(

                        -- CAPEX FY2-FY5

                        ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY2),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY2),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY2),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY2),0)

                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY3),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY3),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY3),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY3),0)

                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY4),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY4),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY4),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY4),0)

                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H1FY5),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommCapex_H2FY5),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H1FY5),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashCapex_H2FY5),0)

                        -- REVEX FY2-FY5

                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY2),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY2),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY2),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY2),0)

                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY3),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY3),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY3),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY3),0)

                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY4),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY4),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY4),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY4),0)

                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H1FY5),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CommRevex_H2FY5),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H1FY5),0)
                      + ISNULL(TRY_CONVERT(DECIMAL(18,2), CashRevex_H2FY5),0)

                    ),0) AS FY2Onwards

                FROM TBL_BudgetV2_PDDetails P

                LEFT JOIN TBL_BudgetV2_Department D
                    ON P.DeptId = D.DepartmentID

                WHERE P.ProjectId = @ProjectId
                  AND P.IsDeleted = 0

                GROUP BY
                    P.DeptId,
                    D.DepartmentName;

                RETURN;
            END


END;
