USE [webta];


GO
/****** Object:  StoredProcedure [dbo].[PROC_BudgetV2_NonPDMaster]    Script Date: 9/12/2026 5:15:04 PM ******/
SET ANSI_NULLS ON;


GO
SET QUOTED_IDENTIFIER ON;


GO
ALTER PROCEDURE [dbo].[PROC_BudgetV2_NonPDMaster]
@Type INT, @NonPDDetailId INT=NULL, @ProjectId VARCHAR (50)=NULL, @RecordId VARCHAR (20)=NULL, @DeptId VARCHAR (50)=NULL, @Division VARCHAR (50)=NULL, @Category VARCHAR (50)=NULL, @Group VARCHAR (50)=NULL, @Location VARCHAR (100)=NULL, @ProjectUnit VARCHAR (100)=NULL, @ItemDescription VARCHAR (500)=NULL, @CurrentScenerioJustification VARCHAR (MAX)=NULL, @DeliverablesKPI VARCHAR (MAX)=NULL, @BudgetBasedOn VARCHAR (MAX)=NULL, @RequestFor VARCHAR (100)=NULL, @Financial VARCHAR (100)=NULL, @ProjectOwner VARCHAR (100)=NULL, @ExpenditureType VARCHAR (100)=NULL, @TemplateCategory VARCHAR (100)=NULL, @ProjectName VARCHAR (MAX)=NULL, @Vital VARCHAR (50)=NULL, @Essential VARCHAR (50)=NULL, @Desirable VARCHAR (50)=NULL, @Quantity VARCHAR (50)=NULL, @UnitOfMeasure VARCHAR (100)=NULL, @UnitRate VARCHAR (50)=NULL, @Currency VARCHAR (50)=NULL, @ExchangeRate VARCHAR (50)=NULL, @BasicsInLac VARCHAR (50)=NULL, @TypeOfPurchase VARCHAR (MAX)=NULL, @NRTaxPercentage VARCHAR (50)=NULL, @NetCost VARCHAR (50)=NULL, @AprCommitment DECIMAL (18, 2)=NULL, @MayCommitment DECIMAL (18, 2)=NULL, @JunCommitment DECIMAL (18, 2)=NULL, @JulCommitment DECIMAL (18, 2)=NULL, @AugCommitment DECIMAL (18, 2)=NULL, @SepCommitment DECIMAL (18, 2)=NULL, @OctCommitment DECIMAL (18, 2)=NULL, @NovCommitment DECIMAL (18, 2)=NULL, @DecCommitment DECIMAL (18, 2)=NULL, @JanCommitment DECIMAL (18, 2)=NULL, @FebCommitment DECIMAL (18, 2)=NULL, @MarCommitment DECIMAL (18, 2)=NULL, @Commitment_Fy2H1 DECIMAL (18, 2)=NULL, @Commitment_Fy2H2 DECIMAL (18, 2)=NULL, @Commitment_Fy3H1 DECIMAL (18, 2)=NULL, @Commitment_Fy3H2 DECIMAL (18, 2)=NULL, @Commitment_Fy4H1 DECIMAL (18, 2)=NULL, @Commitment_Fy4H2 DECIMAL (18, 2)=NULL, @Commitment_Fy5H1 DECIMAL (18, 2)=NULL, @Commitment_Fy5H2 DECIMAL (18, 2)=NULL, @AprCashFlow DECIMAL (18, 2)=NULL, @MayCashFlow DECIMAL (18, 2)=NULL, @JunCashFlow DECIMAL (18, 2)=NULL, @JulCashFlow DECIMAL (18, 2)=NULL, @AugCashFlow DECIMAL (18, 2)=NULL, @SepCashFlow DECIMAL (18, 2)=NULL, @OctCashFlow DECIMAL (18, 2)=NULL, @NovCashFlow DECIMAL (18, 2)=NULL, @DecCashFlow DECIMAL (18, 2)=NULL, @JanCashFlow DECIMAL (18, 2)=NULL, @FebCashFlow DECIMAL (18, 2)=NULL, @MarCashFlow DECIMAL (18, 2)=NULL, @CashFlow_Fy2H1 DECIMAL (18, 2)=NULL, @CashFlow_Fy2H2 DECIMAL (18, 2)=NULL, @CashFlow_Fy3H1 DECIMAL (18, 2)=NULL, @CashFlow_Fy3H2 DECIMAL (18, 2)=NULL, @CashFlow_Fy4H1 DECIMAL (18, 2)=NULL, @CashFlow_Fy4H2 DECIMAL (18, 2)=NULL, @CashFlow_Fy5H1 DECIMAL (18, 2)=NULL, @CashFlow_Fy5H2 DECIMAL (18, 2)=NULL, @UserId VARCHAR (100)=NULL, @DraftStatus VARCHAR (50)=NULL, @ActionPerformed VARCHAR (50)=NULL, @ApprovalRemarks VARCHAR (500)=NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Commitment_Fy1H1_Calc AS DECIMAL (18, 2), @Commitment_Fy1H2_Calc AS DECIMAL (18, 2), @FY1Commitment_Calc AS DECIMAL (18, 2), @FY2Commitment_Calc AS DECIMAL (18, 2), @FY3Commitment_Calc AS DECIMAL (18, 2), @FY4Commitment_Calc AS DECIMAL (18, 2), @FY5Commitment_Calc AS DECIMAL (18, 2), @TotalCommitment_Calc AS DECIMAL (18, 2), @CashFlow_Fy1H1_Calc AS DECIMAL (18, 2), @CashFlow_Fy1H2_Calc AS DECIMAL (18, 2), @FY1CashFlow_Calc AS DECIMAL (18, 2), @FY2CashFlow_Calc AS DECIMAL (18, 2), @FY3CashFlow_Calc AS DECIMAL (18, 2), @FY4CashFlow_Calc AS DECIMAL (18, 2), @FY5CashFlow_Calc AS DECIMAL (18, 2), @TotalCashFlow_Calc AS DECIMAL (18, 2), @NextRecordId AS INT, @FyYear AS VARCHAR (20);
    BEGIN TRY
        -- Start transaction only for data modification operations
        IF @Type IN (2, 3, 4, 5)
            BEGIN
                BEGIN TRANSACTION;
            END
        -----------------------------------------------------
        -- TYPE 1 : GET DATA
        -----------------------------------------------------
        IF @Type = 1
            BEGIN
                SELECT *
                FROM   TBL_BudgetV2_NonPDDetails
                WHERE  DeptId = @DeptId
                       AND RecordId = @RecordId
                       AND ISNULL(IsDeleted, 0) = 0;
            END
        ELSE
            -----------------------------------------------------
            -- TYPE 2 : INSERT (New / Draft)
            -----------------------------------------------------
            IF @Type = 2
                BEGIN
                    SET @Commitment_Fy1H1_Calc = ISNULL(@AprCommitment, 0) + ISNULL(@MayCommitment, 0) + ISNULL(@JunCommitment, 0) + ISNULL(@JulCommitment, 0) + ISNULL(@AugCommitment, 0) + ISNULL(@SepCommitment, 0);
                    SET @Commitment_Fy1H2_Calc = ISNULL(@OctCommitment, 0) + ISNULL(@NovCommitment, 0) + ISNULL(@DecCommitment, 0) + ISNULL(@JanCommitment, 0) + ISNULL(@FebCommitment, 0) + ISNULL(@MarCommitment, 0);
                    SET @FY1Commitment_Calc = @Commitment_Fy1H1_Calc + @Commitment_Fy1H2_Calc;
                    SET @FY2Commitment_Calc = ISNULL(@Commitment_Fy2H1, 0) + ISNULL(@Commitment_Fy2H2, 0);
                    SET @FY3Commitment_Calc = ISNULL(@Commitment_Fy3H1, 0) + ISNULL(@Commitment_Fy3H2, 0);
                    SET @FY4Commitment_Calc = ISNULL(@Commitment_Fy4H1, 0) + ISNULL(@Commitment_Fy4H2, 0);
                    SET @FY5Commitment_Calc = ISNULL(@Commitment_Fy5H1, 0) + ISNULL(@Commitment_Fy5H2, 0);
                    SET @TotalCommitment_Calc = @FY1Commitment_Calc + @FY2Commitment_Calc + @FY3Commitment_Calc + @FY4Commitment_Calc + @FY5Commitment_Calc;
                    SET @CashFlow_Fy1H1_Calc = ISNULL(@AprCashFlow, 0) + ISNULL(@MayCashFlow, 0) + ISNULL(@JunCashFlow, 0) + ISNULL(@JulCashFlow, 0) + ISNULL(@AugCashFlow, 0) + ISNULL(@SepCashFlow, 0);
                    SET @CashFlow_Fy1H2_Calc = ISNULL(@OctCashFlow, 0) + ISNULL(@NovCashFlow, 0) + ISNULL(@DecCashFlow, 0) + ISNULL(@JanCashFlow, 0) + ISNULL(@FebCashFlow, 0) + ISNULL(@MarCashFlow, 0);
                    SET @FY1CashFlow_Calc = @CashFlow_Fy1H1_Calc + @CashFlow_Fy1H2_Calc;
                    SET @FY2CashFlow_Calc = ISNULL(@CashFlow_Fy2H1, 0) + ISNULL(@CashFlow_Fy2H2, 0);
                    SET @FY3CashFlow_Calc = ISNULL(@CashFlow_Fy3H1, 0) + ISNULL(@CashFlow_Fy3H2, 0);
                    SET @FY4CashFlow_Calc = ISNULL(@CashFlow_Fy4H1, 0) + ISNULL(@CashFlow_Fy4H2, 0);
                    SET @FY5CashFlow_Calc = ISNULL(@CashFlow_Fy5H1, 0) + ISNULL(@CashFlow_Fy5H2, 0);
                    SET @TotalCashFlow_Calc = @FY1CashFlow_Calc + @FY2CashFlow_Calc + @FY3CashFlow_Calc + @FY4CashFlow_Calc + @FY5CashFlow_Calc;
                    IF ISNULL(@RecordId, '') = ''
                        BEGIN
                            RAISERROR ('RecordId is required.', 16, 1);
                            RETURN;
                        END
                    IF NOT EXISTS (SELECT 1
                                   FROM   TBL_BudgetV2_NonPDMaster
                                   WHERE  DeptId = @DeptId
                                          AND RecordId = @RecordId)
                        BEGIN
                            RAISERROR ('Master record not found.', 16, 1);
                            RETURN;
                        END
                    INSERT  INTO TBL_BudgetV2_NonPDDetails (ProjectId, RecordId, DeptId, DraftStatus, Division, Category, [Group], Location, ProjectUnit, ItemDescription, CurrentScenerioJustification, DeliverablesKPI, BudgetBasedOn, RequestFor, Financial, ProjectOwner, ExpenditureType, TemplateCategory, ProjectName, Vital, Essential, Desirable, Quantity, UnitOfMeasure, UnitRate, Currency, ExchangeRate, BasicsInLac, TypeOfPurchase, NRTaxPercentage, NetCost, AprCommitment, MayCommitment, JunCommitment, JulCommitment, AugCommitment, SepCommitment, OctCommitment, NovCommitment, DecCommitment, JanCommitment, FebCommitment, MarCommitment, Commitment_Fy1H1, Commitment_Fy1H2, Commitment_Fy2H1, Commitment_Fy2H2, Commitment_Fy3H1, Commitment_Fy3H2, Commitment_Fy4H1, Commitment_Fy4H2, Commitment_Fy5H1, Commitment_Fy5H2, FY1Commitment, FY2Commitment, FY3Commitment, FY4Commitment, FY5Commitment, TotalCommitment, AprCashFlow, MayCashFlow, JunCashFlow, JulCashFlow, AugCashFlow, SepCashFlow, OctCashFlow, NovCashFlow, DecCashFlow, JanCashFlow, FebCashFlow, MarCashFlow, CashFlow_Fy1H1, CashFlow_Fy1H2, CashFlow_Fy2H1, CashFlow_Fy2H2, CashFlow_Fy3H1, CashFlow_Fy3H2, CashFlow_Fy4H1, CashFlow_Fy4H2, CashFlow_Fy5H1, CashFlow_Fy5H2, FY1CashFlow, FY2CashFlow, FY3CashFlow, FY4CashFlow, FY5CashFlow, TotalCashFlow, CreatedBy, CreatedAt, IsDeleted)
                    VALUES                                (@ProjectId, @RecordId, @DeptId, @DraftStatus, @Division, @Category, @Group, @Location, @ProjectUnit, @ItemDescription, @CurrentScenerioJustification, @DeliverablesKPI, @BudgetBasedOn, @RequestFor, @Financial, @ProjectOwner, @ExpenditureType, @TemplateCategory, @ProjectName, @Vital, @Essential, @Desirable, @Quantity, @UnitOfMeasure, @UnitRate, @Currency, @ExchangeRate, @BasicsInLac, @TypeOfPurchase, @NRTaxPercentage, @NetCost, @AprCommitment, @MayCommitment, @JunCommitment, @JulCommitment, @AugCommitment, @SepCommitment, @OctCommitment, @NovCommitment, @DecCommitment, @JanCommitment, @FebCommitment, @MarCommitment, @Commitment_Fy1H1_Calc, @Commitment_Fy1H2_Calc, @Commitment_Fy2H1, @Commitment_Fy2H2, @Commitment_Fy3H1, @Commitment_Fy3H2, @Commitment_Fy4H1, @Commitment_Fy4H2, @Commitment_Fy5H1, @Commitment_Fy5H2, @FY1Commitment_Calc, @FY2Commitment_Calc, @FY3Commitment_Calc, @FY4Commitment_Calc, @FY5Commitment_Calc, @TotalCommitment_Calc, @AprCashFlow, @MayCashFlow, @JunCashFlow, @JulCashFlow, @AugCashFlow, @SepCashFlow, @OctCashFlow, @NovCashFlow, @DecCashFlow, @JanCashFlow, @FebCashFlow, @MarCashFlow, @CashFlow_Fy1H1_Calc, @CashFlow_Fy1H2_Calc, @CashFlow_Fy2H1, @CashFlow_Fy2H2, @CashFlow_Fy3H1, @CashFlow_Fy3H2, @CashFlow_Fy4H1, @CashFlow_Fy4H2, @CashFlow_Fy5H1, @CashFlow_Fy5H2, @FY1CashFlow_Calc, @FY2CashFlow_Calc, @FY3CashFlow_Calc, @FY4CashFlow_Calc, @FY5CashFlow_Calc, @TotalCashFlow_Calc, @UserId, GETDATE(), 0);
                    DECLARE @NewNonPDDetailId AS INT = SCOPE_IDENTITY();
                    SELECT 'Record Added Successfully' AS Message,
                           @NewNonPDDetailId AS NonPDDetailId;
                END
            ELSE
                -----------------------------------------------------
                -- TYPE 3 : UPDATE (Existing Draft or Final Save)
                -----------------------------------------------------
                IF @Type = 3
                    BEGIN
                        SET @Commitment_Fy1H1_Calc = ISNULL(@AprCommitment, 0) + ISNULL(@MayCommitment, 0) + ISNULL(@JunCommitment, 0) + ISNULL(@JulCommitment, 0) + ISNULL(@AugCommitment, 0) + ISNULL(@SepCommitment, 0);
                        SET @Commitment_Fy1H2_Calc = ISNULL(@OctCommitment, 0) + ISNULL(@NovCommitment, 0) + ISNULL(@DecCommitment, 0) + ISNULL(@JanCommitment, 0) + ISNULL(@FebCommitment, 0) + ISNULL(@MarCommitment, 0);
                        SET @FY1Commitment_Calc = @Commitment_Fy1H1_Calc + @Commitment_Fy1H2_Calc;
                        SET @FY2Commitment_Calc = ISNULL(@Commitment_Fy2H1, 0) + ISNULL(@Commitment_Fy2H2, 0);
                        SET @FY3Commitment_Calc = ISNULL(@Commitment_Fy3H1, 0) + ISNULL(@Commitment_Fy3H2, 0);
                        SET @FY4Commitment_Calc = ISNULL(@Commitment_Fy4H1, 0) + ISNULL(@Commitment_Fy4H2, 0);
                        SET @FY5Commitment_Calc = ISNULL(@Commitment_Fy5H1, 0) + ISNULL(@Commitment_Fy5H2, 0);
                        SET @TotalCommitment_Calc = @FY1Commitment_Calc + @FY2Commitment_Calc + @FY3Commitment_Calc + @FY4Commitment_Calc + @FY5Commitment_Calc;
                        SET @CashFlow_Fy1H1_Calc = ISNULL(@AprCashFlow, 0) + ISNULL(@MayCashFlow, 0) + ISNULL(@JunCashFlow, 0) + ISNULL(@JulCashFlow, 0) + ISNULL(@AugCashFlow, 0) + ISNULL(@SepCashFlow, 0);
                        SET @CashFlow_Fy1H2_Calc = ISNULL(@OctCashFlow, 0) + ISNULL(@NovCashFlow, 0) + ISNULL(@DecCashFlow, 0) + ISNULL(@JanCashFlow, 0) + ISNULL(@FebCashFlow, 0) + ISNULL(@MarCashFlow, 0);
                        SET @FY1CashFlow_Calc = @CashFlow_Fy1H1_Calc + @CashFlow_Fy1H2_Calc;
                        SET @FY2CashFlow_Calc = ISNULL(@CashFlow_Fy2H1, 0) + ISNULL(@CashFlow_Fy2H2, 0);
                        SET @FY3CashFlow_Calc = ISNULL(@CashFlow_Fy3H1, 0) + ISNULL(@CashFlow_Fy3H2, 0);
                        SET @FY4CashFlow_Calc = ISNULL(@CashFlow_Fy4H1, 0) + ISNULL(@CashFlow_Fy4H2, 0);
                        SET @FY5CashFlow_Calc = ISNULL(@CashFlow_Fy5H1, 0) + ISNULL(@CashFlow_Fy5H2, 0);
                        SET @TotalCashFlow_Calc = @FY1CashFlow_Calc + @FY2CashFlow_Calc + @FY3CashFlow_Calc + @FY4CashFlow_Calc + @FY5CashFlow_Calc;
                        IF NOT EXISTS (SELECT 1
                                       FROM   TBL_BudgetV2_NonPDDetails
                                       WHERE  NonPDDetailId = @NonPDDetailId
                                              AND ISNULL(IsDeleted, 0) = 0)
                            BEGIN
                                RAISERROR ('Detail record not found.', 16, 1);
                                RETURN;
                            END
                        UPDATE TBL_BudgetV2_NonPDDetails
                        SET    DraftStatus                  = @DraftStatus,
                               Division                     = @Division,
                               Category                     = @Category,
                               [Group]                      = @Group,
                               Location                     = @Location,
                               ProjectUnit                  = @ProjectUnit,
                               ItemDescription              = @ItemDescription,
                               CurrentScenerioJustification = @CurrentScenerioJustification,
                               DeliverablesKPI              = @DeliverablesKPI,
                               BudgetBasedOn                = @BudgetBasedOn,
                               RequestFor                   = @RequestFor,
                               Financial                    = @Financial,
                               ProjectOwner                 = @ProjectOwner,
                               ExpenditureType              = @ExpenditureType,
                               TemplateCategory             = @TemplateCategory,
                               ProjectName                  = @ProjectName,
                               Vital                        = @Vital,
                               Essential                    = @Essential,
                               Desirable                    = @Desirable,
                               Quantity                     = @Quantity,
                               UnitOfMeasure                = @UnitOfMeasure,
                               UnitRate                     = @UnitRate,
                               Currency                     = @Currency,
                               ExchangeRate                 = @ExchangeRate,
                               BasicsInLac                  = @BasicsInLac,
                               TypeOfPurchase               = @TypeOfPurchase,
                               NRTaxPercentage              = @NRTaxPercentage,
                               NetCost                      = @NetCost,
                               AprCommitment                = @AprCommitment,
                               MayCommitment                = @MayCommitment,
                               JunCommitment                = @JunCommitment,
                               JulCommitment                = @JulCommitment,
                               AugCommitment                = @AugCommitment,
                               SepCommitment                = @SepCommitment,
                               OctCommitment                = @OctCommitment,
                               NovCommitment                = @NovCommitment,
                               DecCommitment                = @DecCommitment,
                               JanCommitment                = @JanCommitment,
                               FebCommitment                = @FebCommitment,
                               MarCommitment                = @MarCommitment,
                               Commitment_Fy1H1             = @Commitment_Fy1H1_Calc,
                               Commitment_Fy1H2             = @Commitment_Fy1H2_Calc,
                               Commitment_Fy2H1             = @Commitment_Fy2H1,
                               Commitment_Fy2H2             = @Commitment_Fy2H2,
                               Commitment_Fy3H1             = @Commitment_Fy3H1,
                               Commitment_Fy3H2             = @Commitment_Fy3H2,
                               Commitment_Fy4H1             = @Commitment_Fy4H1,
                               Commitment_Fy4H2             = @Commitment_Fy4H2,
                               Commitment_Fy5H1             = @Commitment_Fy5H1,
                               Commitment_Fy5H2             = @Commitment_Fy5H2,
                               FY1Commitment                = @FY1Commitment_Calc,
                               FY2Commitment                = @FY2Commitment_Calc,
                               FY3Commitment                = @FY3Commitment_Calc,
                               FY4Commitment                = @FY4Commitment_Calc,
                               FY5Commitment                = @FY5Commitment_Calc,
                               TotalCommitment              = @TotalCommitment_Calc,
                               AprCashFlow                  = @AprCashFlow,
                               MayCashFlow                  = @MayCashFlow,
                               JunCashFlow                  = @JunCashFlow,
                               JulCashFlow                  = @JulCashFlow,
                               AugCashFlow                  = @AugCashFlow,
                               SepCashFlow                  = @SepCashFlow,
                               OctCashFlow                  = @OctCashFlow,
                               NovCashFlow                  = @NovCashFlow,
                               DecCashFlow                  = @DecCashFlow,
                               JanCashFlow                  = @JanCashFlow,
                               FebCashFlow                  = @FebCashFlow,
                               MarCashFlow                  = @MarCashFlow,
                               CashFlow_Fy1H1               = @CashFlow_Fy1H1_Calc,
                               CashFlow_Fy1H2               = @CashFlow_Fy1H2_Calc,
                               CashFlow_Fy2H1               = @CashFlow_Fy2H1,
                               CashFlow_Fy2H2               = @CashFlow_Fy2H2,
                               CashFlow_Fy3H1               = @CashFlow_Fy3H1,
                               CashFlow_Fy3H2               = @CashFlow_Fy3H2,
                               CashFlow_Fy4H1               = @CashFlow_Fy4H1,
                               CashFlow_Fy4H2               = @CashFlow_Fy4H2,
                               CashFlow_Fy5H1               = @CashFlow_Fy5H1,
                               CashFlow_Fy5H2               = @CashFlow_Fy5H2,
                               FY1CashFlow                  = @FY1CashFlow_Calc,
                               FY2CashFlow                  = @FY2CashFlow_Calc,
                               FY3CashFlow                  = @FY3CashFlow_Calc,
                               FY4CashFlow                  = @FY4CashFlow_Calc,
                               FY5CashFlow                  = @FY5CashFlow_Calc,
                               TotalCashFlow                = @TotalCashFlow_Calc,
                               UpdatedBy                    = @UserId,
                               UpdatedAt                    = GETDATE()
                        WHERE  NonPDDetailId = @NonPDDetailId
                               AND ISNULL(IsDeleted, 0) = 0;
                        SELECT 'Record Updated Successfully' AS Message,
                               @NonPDDetailId AS NonPDDetailId;
                    END
                ELSE
                    -----------------------------------------------------
                    -- TYPE 4 : SOFT DELETE
                    -----------------------------------------------------
                    IF @Type = 4
                        BEGIN
                            IF EXISTS (SELECT 1
                                       FROM   TBL_BudgetV2_NonPDDetails
                                       WHERE  NonPDDetailId = @NonPDDetailId
                                              AND ISNULL(IsDeleted, 0) = 0)
                                BEGIN
                                    UPDATE TBL_BudgetV2_NonPDDetails
                                    SET    IsDeleted = 1,
                                           DeletedBy = @UserId,
                                           DeletedAt = GETDATE()
                                    WHERE  NonPDDetailId = @NonPDDetailId;
                                    SELECT 'Record Deleted Successfully' AS Message,
                                           @NonPDDetailId AS NonPDDetailId;
                                END
                            ELSE
                                BEGIN
                                    SELECT 'Record Not Found' AS Message,
                                           @NonPDDetailId AS NonPDDetailId;
                                END
                        END
                    ELSE
                        -----------------------------------------------------
                        -- TYPE 5 : INITIALIZE NonPD MASTER RECORD
                        -- Note: Uses Status (not DraftStatus) because TBL_BudgetV2_PDMaster.Status
                        -- tracks the overall workflow state (OPEN / SUBMITTED / APPROVED)
                        -- which is completely different from PDDetails.DraftStatus (Draft / Completed)
                        -----------------------------------------------------
                        IF @Type = 5
                            BEGIN
                                SET @FyYear = CAST (YEAR(GETDATE()) AS VARCHAR (4)) + '-' + RIGHT(CAST (YEAR(GETDATE()) + 1 AS VARCHAR (4)), 2);
                                IF NOT EXISTS (SELECT 1
                                               FROM   TBL_BudgetV2_DepartmentRoleMapping
                                               WHERE  DepartmentId = @DeptId
                                                      AND UserId = @UserId
                                                      AND Role = 'MAKER'
                                                      AND ProjectType = 'NON PD'
                                                      AND IsActive = 'Y')
                                    BEGIN
                                        RAISERROR ('User is not authorized as MAKER.', 16, 1);
                                        RETURN;
                                    END
                                SELECT @NextRecordId = ISNULL(MAX(CAST (RecordId AS INT)), 0) + 1
                                FROM   TBL_BudgetV2_NonPDMaster WITH (UPDLOCK, HOLDLOCK)
                                WHERE  DeptId = @DeptId;
                                INSERT  INTO TBL_BudgetV2_NonPDMaster (RecordId, DeptId, FyYear, Status, PendingWithUser, CreatedBy, CreatedAt, UpdatedBy, UpdatedAt)
                                VALUES                               (CAST (@NextRecordId AS VARCHAR (20)), @DeptId, @FyYear, 'OPENED', @UserId, @UserId, GETDATE(), @UserId, GETDATE());
                                SELECT 1 AS Success,
                                       'Master Created Successfully' AS Message,
                                       CAST (@NextRecordId AS VARCHAR (20)) AS RecordId,
                                       @DeptId AS DeptId,
                                       @FyYear AS FyYear,
                                       'OPENED' AS Status,
                                       @UserId AS PendingWithUser;
                            END
                        ELSE
                            -----------------------------------------------------
                            -- TYPE 6 : APPROVAL REQUEST
                            ------------------------------------------------------
                            IF @Type = 6
                                BEGIN
                                    DECLARE @HistoryId AS VARCHAR (50);
                                    DECLARE @MakerId AS VARCHAR (50), @CheckerId AS VARCHAR (50), @CurrentPendingUser AS VARCHAR (50), @NewStatus AS VARCHAR (100), @NewPendingUser AS VARCHAR (50);
                                    BEGIN TRY
                                        BEGIN TRANSACTION;
                                        --------------------------------------------------
                                        -- Get Maker
                                        --------------------------------------------------
                                        SELECT @MakerId = UserId
                                        FROM   TBL_BudgetV2_DepartmentRoleMapping
                                        WHERE  DepartmentId = @DeptId
                                               AND ProjectType = 'NON PD'
                                               AND Role = 'MAKER'
                                               AND IsActive = 'Y';
                                        --------------------------------------------------
                                        -- Get Checker
                                        --------------------------------------------------
                                        SELECT @CheckerId = UserId
                                        FROM   TBL_BudgetV2_DepartmentRoleMapping
                                        WHERE  DepartmentId = @DeptId
                                               AND ProjectType = 'NON PD'
                                               AND Role = 'CHECKER'
                                               AND IsActive = 'Y';
                                        --------------------------------------------------
                                        -- Validate Mapping
                                        --------------------------------------------------
                                        IF ISNULL(@MakerId, '') = ''
                                           OR ISNULL(@CheckerId, '') = ''
                                            BEGIN
                                                SELECT 0 AS Success,
                                                       'Maker/Checker Mapping Not Found' AS Message;
                                                ROLLBACK;
                                                RETURN;
                                            END
                                        --------------------------------------------------
                                        -- Get Current Pending User
                                        --------------------------------------------------
                                        SELECT @CurrentPendingUser = PendingWithUser
                                        FROM   TBL_BudgetV2_NonPDMaster
                                        WHERE  RecordId = @RecordId
                                               AND DeptId = @DeptId;
                                        --------------------------------------------------
                                        -- Validate Pending User
                                        --------------------------------------------------
                                        IF ISNULL(@CurrentPendingUser, '') <> ISNULL(@UserId, '')
                                            BEGIN
                                                SELECT 0 AS Success,
                                                       'Only Pending User Can Perform Action' AS Message;
                                                ROLLBACK;
                                                RETURN;
                                            END
                                        --------------------------------------------------
                                        -- POSTED (Maker -> Checker)
                                        --------------------------------------------------
                                        IF UPPER(@ActionPerformed) = 'POSTED'
                                            BEGIN
                                                IF @UserId <> @MakerId
                                                    BEGIN
                                                        SELECT 0 AS Success,
                                                               'Only Maker Can Submit' AS Message;
                                                        ROLLBACK;
                                                        RETURN;
                                                    END
                                                SET @NewStatus = 'PENDING WITH APPROVER';
                                                SET @NewPendingUser = @CheckerId;
                                            END
                                        ELSE
                                            --------------------------------------------------
                                            -- APPROVED (Checker)
                                            --------------------------------------------------
                                            IF UPPER(@ActionPerformed) = 'APPROVED'
                                                BEGIN
                                                    IF @UserId <> @CheckerId
                                                        BEGIN
                                                            SELECT 0 AS Success,
                                                                   'Only Checker Can Approve' AS Message;
                                                            ROLLBACK;
                                                            RETURN;
                                                        END
                                                    SET @NewStatus = 'APPROVED';
                                                    SET @NewPendingUser = NULL;
                                                END
                                            ELSE
                                                --------------------------------------------------
                                                -- REVIEW BACK (Checker -> Maker)
                                                --------------------------------------------------
                                                IF UPPER(@ActionPerformed) = 'REVIEW_BACK'
                                                    BEGIN
                                                        IF @UserId <> @CheckerId
                                                            BEGIN
                                                                SELECT 0 AS Success,
                                                                       'Only Checker Can Review Back' AS Message;
                                                                ROLLBACK;
                                                                RETURN;
                                                            END
                                                        SET @NewStatus = 'OPENED';
                                                        SET @NewPendingUser = @MakerId;
                                                    END
                                                ELSE
                                                    --------------------------------------------------
                                                    -- Invalid Action
                                                    --------------------------------------------------
                                                    BEGIN
                                                        SELECT 0 AS Success,
                                                               'Invalid ActionPerformed Value' AS Message;
                                                        ROLLBACK;
                                                        RETURN;
                                                    END
                                        --------------------------------------------------
                                        -- Update Master
                                        --------------------------------------------------
                                        UPDATE TBL_BudgetV2_NonPDMaster
                                        SET    Status          = @NewStatus,
                                               PendingWithUser = @NewPendingUser,
                                               UpdatedBy       = @UserId,
                                               UpdatedAt       = GETDATE()
                                        WHERE  RecordId = @RecordId
                                               AND DeptId = @DeptId;
                                        --------------------------------------------------
                                        -- Generate History Id
                                        --------------------------------------------------
                                        SELECT @HistoryId = ISNULL(MAX(CAST (HistoryId AS INT)), 0) + 1
                                        FROM   TBL_BudgetV2_NonPDApproverHistory;
                                        --------------------------------------------------
                                        -- Insert History
                                        --------------------------------------------------
                                        INSERT  INTO TBL_BudgetV2_NonPDApproverHistory (HistoryId, ProjectId, -- RECORD ID IS GETTING INSERTED AS THE PROJECTID 
                                        DeptId, ActionPerformedBy, Remarks, ActionPerformed, TDate)
                                        VALUES                                        (@HistoryId, @RecordId, @DeptId, @UserId, @ApprovalRemarks, @ActionPerformed, GETDATE());
                                        COMMIT TRANSACTION;
                                        --------------------------------------------------
                                        -- Success Response
                                        --------------------------------------------------
                                        SELECT 1 AS Success,
                                               'Action Processed Successfully' AS Message,
                                               @RecordId AS RecordId,
                                               @DeptId AS DeptId,
                                               @ActionPerformed AS ActionPerformed,
                                               @NewStatus AS Status,
                                               @NewPendingUser AS PendingWithUser;
                                    END TRY
                                    BEGIN CATCH
                                        IF @@TRANCOUNT > 0
                                            ROLLBACK;
                                        SELECT 0 AS Success,
                                               ERROR_MESSAGE() AS Message;
                                    END CATCH
                                END
                            ELSE
                                -----------------------------------------------------
                                -- TYPE 7 : APPROVAL HISTORY
                                ------------------------------------------------------
                                IF @Type = 7
                                    BEGIN
                                        SELECT   H.HistoryId,
                                                 H.ProjectId,
                                                 H.DeptId,
                                                 H.ActionPerformedBy,
                                                 E.EMPLOYEE_NAME AS EmployeeName,
                                                 H.Remarks AS ApprovalRemarks,
                                                 H.ActionPerformed,
                                                 H.TDate
                                        FROM     TBL_BudgetV2_NonPDApproverHistory AS H
                                                 LEFT OUTER JOIN
                                                 Employees AS E
                                                 ON E.USERID = H.ActionPerformedBy
                                        WHERE    H.ProjectId = @ProjectId
                                                 AND H.DeptId = @DeptId
                                        ORDER BY H.TDate ASC;
                                    END
                                ELSE
                                    -----------------------------------------------------
                                    -- TYPE 8 : NON PD RECORD LIST
                                    -----------------------------------------------------
                                    IF @Type = 8
                                        BEGIN
                                            SELECT   M.RecordId,
                                                     M.ProjectId,
                                                     M.DeptId,
                                                     M.FyYear,
                                                     M.Status,
                                                     M.PendingWithUser,
                                                     E.EMPLOYEE_NAME AS PendingWithUserName,
                                                     MAKER.UserId AS MakerId,
                                                     CHECKER.UserId AS CheckerId,
                                                     M.CreatedBy,
                                                     M.CreatedAt,
                                                     M.UpdatedBy,
                                                     M.UpdatedAt
                                            FROM     TBL_BudgetV2_NonPDMaster AS M
                                                     LEFT OUTER JOIN
                                                     Employees AS E
                                                     ON E.USERID = M.PendingWithUser
                                                     LEFT OUTER JOIN
                                                     TBL_BudgetV2_DepartmentRoleMapping AS MAKER
                                                     ON MAKER.DepartmentId = M.DeptId
                                                        AND MAKER.ProjectType = 'NON PD'
                                                        AND MAKER.Role = 'MAKER'
                                                        AND MAKER.IsActive = 'Y'
                                                     LEFT OUTER JOIN
                                                     TBL_BudgetV2_DepartmentRoleMapping AS CHECKER
                                                     ON CHECKER.DepartmentId = M.DeptId
                                                        AND CHECKER.ProjectType = 'NON PD'
                                                        AND CHECKER.Role = 'CHECKER'
                                                        AND CHECKER.IsActive = 'Y'
                                            WHERE    M.DeptId = @DeptId
                                                     AND EXISTS (SELECT 1
                                                                 FROM   TBL_BudgetV2_NonPDDetails AS D
                                                                 WHERE  D.DeptId = M.DeptId
                                                                        AND D.RecordId = M.RecordId
                                                                        AND ISNULL(D.IsDeleted, 0) = 0)
                                            ORDER BY M.CreatedAt DESC;
                                        END
        -- Commit the transaction if all steps succeeded
        IF @@TRANCOUNT > 0
            BEGIN
                COMMIT TRANSACTION;
            END
    END TRY
    BEGIN CATCH
        -- Rollback everything if any step fails
        IF @@TRANCOUNT > 0
            BEGIN
                ROLLBACK;
            END
        -- Return the SQL error cleanly to the C# API
        SELECT 'Error: ' + ERROR_MESSAGE() AS Message;
    END CATCH
END