USE [webta]
GO
/****** Object:  StoredProcedure [dbo].[PROC_BudgetV2_NonPDMaster]    Script Date: 8/23/2026 11:53:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PROC_BudgetV2_NonPDMaster]
(
      @Type INT

    , @NonPDDetailId INT = NULL
    , @ProjectId VARCHAR(50) = NULL
    , @RecordId VARCHAR(20) = NULL
    , @DeptId VARCHAR(50) = NULL
    
    ,@Id VARCHAR(50)=NULL
    ,@Division VARCHAR(50)=NULL
    ,@Category VARCHAR(50)=NULL
    ,@GroupName VARCHAR(50)=NULL
    ,@Location VARCHAR(100)=NULL
    ,@ProjectUnit VARCHAR(100)=NULL
    ,@CurrentScenerioJustification VARCHAR(MAX)=NULL
    ,@DeliverablesKPI VARCHAR(MAX)=NULL
    ,@BudgetBasedOn VARCHAR(MAX)=NULL
    ,@RequestFor VARCHAR(100)=NULL
    ,@Financial VARCHAR(100)=NULL
    ,@ProjectOwner VARCHAR(100)=NULL
    ,@Capex_Revenue VARCHAR(50)=NULL
    ,@TemplateCategory VARCHAR(100)=NULL
    ,@ProjectName VARCHAR(MAX)=NULL
    ,@Quantity VARCHAR(50)=NULL
    ,@UnitRate VARCHAR(50)=NULL
    ,@Currency VARCHAR(50)=NULL
    ,@ExchangeRate VARCHAR(50)=NULL
    ,@BasicsInLac VARCHAR(50)=NULL
    ,@TypeOfPurchase VARCHAR(MAX)=NULL
    ,@NRTaxPercentage VARCHAR(50)=NULL
    ,@NetCost VARCHAR(50)=NULL
    ,@H1PR VARCHAR(50)=NULL
    ,@H2PR VARCHAR(50)=NULL
    ,@Total1 VARCHAR(50)=NULL
    ,@Year2 VARCHAR(50)=NULL
    ,@H1CF VARCHAR(50)=NULL
    ,@H2CF VARCHAR(50)=NULL
    ,@Total2 VARCHAR(50)=NULL
    ,@Remarks VARCHAR(MAX)=NULL
    ,@ProposedQty VARCHAR(50)=NULL
    ,@ProposedBudget VARCHAR(50)=NULL
    ,@Remark VARCHAR(MAX)=NULL
    ,@ContingencyFactor VARCHAR(50)=NULL
    ,@Vital VARCHAR(50)=NULL
    ,@Essential VARCHAR(50)=NULL
    ,@Desirable VARCHAR(50)=NULL
    ,@AprNetCF VARCHAR(50)=NULL
    ,@MayNetCF VARCHAR(50)=NULL
    ,@JunNetCF VARCHAR(50)=NULL
    ,@JulNetCF VARCHAR(50)=NULL
    ,@AugNetCF VARCHAR(50)=NULL
    ,@SepNetCF VARCHAR(50)=NULL
    ,@OctNetCF VARCHAR(50)=NULL
    ,@NovNetCF VARCHAR(50)=NULL
    ,@DecNetCF VARCHAR(50)=NULL
    ,@JanNetCF VARCHAR(50)=NULL
    ,@FebNetCF VARCHAR(50)=NULL
    ,@MarNetCF VARCHAR(50)=NULL
    ,@PR_Fy1H1 VARCHAR(50)=NULL
    ,@PR_Fy1H2 VARCHAR(50)=NULL
    ,@PR_Fy2H1 VARCHAR(50)=NULL
    ,@PR_Fy2H2 VARCHAR(50)=NULL
    ,@PR_Fy3H1 VARCHAR(50)=NULL
    ,@PR_Fy3H2 VARCHAR(50)=NULL
    ,@PR_Fy4H1 VARCHAR(50)=NULL
    ,@PR_Fy4H2 VARCHAR(50)=NULL
    ,@CF_Fy1H1 VARCHAR(50)=NULL
    ,@CF_Fy1H2 VARCHAR(50)=NULL
    ,@CF_Fy2H1 VARCHAR(50)=NULL
    ,@CF_Fy2H2 VARCHAR(50)=NULL
    ,@CF_Fy3H1 VARCHAR(50)=NULL
    ,@CF_Fy3H2 VARCHAR(50)=NULL
    ,@CF_Fy4H1 VARCHAR(50)=NULL
    ,@CF_Fy4H2 VARCHAR(50)=NULL

    , @UserId VARCHAR(100) = NULL
    , @FyYear VARCHAR(10) = NULL
    , @CategoryId INT = NULL

    -- Tracks Draft/Completed state of a budget detail row (TBL_BudgetV2_PDDetails)
    -- Separate from @Status used in TBL_BudgetV2_PDMaster which tracks workflow (OPEN/SUBMITTED/APPROVED)
    , @DraftStatus VARCHAR(50) = NULL

    , @ActionPerformed VARCHAR(50) = NULL
    , @ApprovalRemarks VARCHAR(500) = NULL

)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        -- Start transaction only for data modification operations
        IF @Type IN (2, 3, 4, 5)
        BEGIN
            BEGIN TRAN;
        END

        -----------------------------------------------------
        -- TYPE 1 : GET DATA
        -----------------------------------------------------
        IF @Type = 1
        BEGIN

            SELECT *
            FROM TBL_BudgetV2_NonPDDetails
            WHERE ProjectId = @ProjectId
              AND DeptId = @DeptId
              AND ISNULL(IsDeleted, 0) = 0
            ORDER BY NonPDDetailId DESC;

        END

        -----------------------------------------------------
        -- TYPE 2 : INSERT (New / Draft)
        -----------------------------------------------------
            ELSE IF @Type = 2
            BEGIN

                SELECT @RecordId = RecordId
                FROM TBL_BudgetV2_NonPDMaster
                WHERE ProjectId = @ProjectId
                  AND DeptId = @DeptId;

                INSERT INTO TBL_BudgetV2_NonPDDetails
                (
                      ProjectId
                    , RecordId
                    , DeptId
                    , DraftStatus

                    , Id
                    , Division
                    , Category
                    , GroupName
                    , Location
                    , ProjectUnit
                    , CurrentScenerioJustification
                    , DeliverablesKPI
                    , BudgetBasedOn
                    , RequestFor
                    , Financial
                    , ProjectOwner
                    , Capex_Revenue
                    , TemplateCategory

                    , ProjectName
                    , Quantity
                    , UnitRate
                    , Currency
                    , ExchangeRate
                    , BasicsInLac
                    , TypeOfPurchase
                    , NRTaxPercentage
                    , NetCost

                    , H1PR
                    , H2PR
                    , Total1
                    , Year2

                    , H1CF
                    , H2CF
                    , Total2

                    , Remarks
                    , ProposedQty
                    , ProposedBudget
                    , Remark

                    , ContingencyFactor
                    , Vital
                    , Essential
                    , Desirable

                    , AprNetCF
                    , MayNetCF
                    , JunNetCF
                    , JulNetCF
                    , AugNetCF
                    , SepNetCF
                    , OctNetCF
                    , NovNetCF
                    , DecNetCF
                    , JanNetCF
                    , FebNetCF
                    , MarNetCF

                    , PR_Fy1H1
                    , PR_Fy1H2
                    , PR_Fy2H1
                    , PR_Fy2H2
                    , PR_Fy3H1
                    , PR_Fy3H2
                    , PR_Fy4H1
                    , PR_Fy4H2

                    , CF_Fy1H1
                    , CF_Fy1H2
                    , CF_Fy2H1
                    , CF_Fy2H2
                    , CF_Fy3H1
                    , CF_Fy3H2
                    , CF_Fy4H1
                    , CF_Fy4H2

                    , CreatedBy
                    , CreatedAt
                    , IsDeleted
                )
                VALUES
                (
                      @ProjectId
                    , @RecordId
                    , @DeptId
                    , @DraftStatus

                    , @Id
                    , @Division
                    , @Category
                    , @GroupName
                    , @Location
                    , @ProjectUnit
                    , @CurrentScenerioJustification
                    , @DeliverablesKPI
                    , @BudgetBasedOn
                    , @RequestFor
                    , @Financial
                    , @ProjectOwner
                    , @Capex_Revenue
                    , @TemplateCategory

                    , @ProjectName
                    , @Quantity
                    , @UnitRate
                    , @Currency
                    , @ExchangeRate
                    , @BasicsInLac
                    , @TypeOfPurchase
                    , @NRTaxPercentage
                    , @NetCost

                    , @H1PR
                    , @H2PR
                    , @Total1
                    , @Year2

                    , @H1CF
                    , @H2CF
                    , @Total2

                    , @Remarks
                    , @ProposedQty
                    , @ProposedBudget
                    , @Remark

                    , @ContingencyFactor
                    , @Vital
                    , @Essential
                    , @Desirable

                    , @AprNetCF
                    , @MayNetCF
                    , @JunNetCF
                    , @JulNetCF
                    , @AugNetCF
                    , @SepNetCF
                    , @OctNetCF
                    , @NovNetCF
                    , @DecNetCF
                    , @JanNetCF
                    , @FebNetCF
                    , @MarNetCF

                    , @PR_Fy1H1
                    , @PR_Fy1H2
                    , @PR_Fy2H1
                    , @PR_Fy2H2
                    , @PR_Fy3H1
                    , @PR_Fy3H2
                    , @PR_Fy4H1
                    , @PR_Fy4H2

                    , @CF_Fy1H1
                    , @CF_Fy1H2
                    , @CF_Fy2H1
                    , @CF_Fy2H2
                    , @CF_Fy3H1
                    , @CF_Fy3H2
                    , @CF_Fy4H1
                    , @CF_Fy4H2

                    , @UserId
                    , GETDATE()
                    , 0
                );

                DECLARE @NewNonPDDetailId INT = SCOPE_IDENTITY();

                SELECT
                    'Record Added Successfully' AS Message,
                    @NewNonPDDetailId AS NonPDDetailId;

            END

        -----------------------------------------------------
        -- TYPE 3 : UPDATE (Existing Draft or Final Save)
        -----------------------------------------------------
       ELSE IF @Type = 3
            BEGIN

                UPDATE TBL_BudgetV2_NonPDDetails
                SET
                      DraftStatus = @DraftStatus

                    , Id = @Id
                    , Division = @Division
                    , Category = @Category
                    , GroupName = @GroupName
                    , Location = @Location
                    , ProjectUnit = @ProjectUnit
                    , CurrentScenerioJustification = @CurrentScenerioJustification
                    , DeliverablesKPI = @DeliverablesKPI
                    , BudgetBasedOn = @BudgetBasedOn
                    , RequestFor = @RequestFor
                    , Financial = @Financial
                    , ProjectOwner = @ProjectOwner
                    , Capex_Revenue = @Capex_Revenue
                    , TemplateCategory = @TemplateCategory

                    , ProjectName = @ProjectName
                    , Quantity = @Quantity
                    , UnitRate = @UnitRate
                    , Currency = @Currency
                    , ExchangeRate = @ExchangeRate
                    , BasicsInLac = @BasicsInLac
                    , TypeOfPurchase = @TypeOfPurchase
                    , NRTaxPercentage = @NRTaxPercentage
                    , NetCost = @NetCost

                    , H1PR = @H1PR
                    , H2PR = @H2PR
                    , Total1 = @Total1
                    , Year2 = @Year2

                    , H1CF = @H1CF
                    , H2CF = @H2CF
                    , Total2 = @Total2

                    , Remarks = @Remarks
                    , ProposedQty = @ProposedQty
                    , ProposedBudget = @ProposedBudget
                    , Remark = @Remark

                    , ContingencyFactor = @ContingencyFactor
                    , Vital = @Vital
                    , Essential = @Essential
                    , Desirable = @Desirable

                    , AprNetCF = @AprNetCF
                    , MayNetCF = @MayNetCF
                    , JunNetCF = @JunNetCF
                    , JulNetCF = @JulNetCF
                    , AugNetCF = @AugNetCF
                    , SepNetCF = @SepNetCF
                    , OctNetCF = @OctNetCF
                    , NovNetCF = @NovNetCF
                    , DecNetCF = @DecNetCF
                    , JanNetCF = @JanNetCF
                    , FebNetCF = @FebNetCF
                    , MarNetCF = @MarNetCF

                    , PR_Fy1H1 = @PR_Fy1H1
                    , PR_Fy1H2 = @PR_Fy1H2
                    , PR_Fy2H1 = @PR_Fy2H1
                    , PR_Fy2H2 = @PR_Fy2H2
                    , PR_Fy3H1 = @PR_Fy3H1
                    , PR_Fy3H2 = @PR_Fy3H2
                    , PR_Fy4H1 = @PR_Fy4H1
                    , PR_Fy4H2 = @PR_Fy4H2

                    , CF_Fy1H1 = @CF_Fy1H1
                    , CF_Fy1H2 = @CF_Fy1H2
                    , CF_Fy2H1 = @CF_Fy2H1
                    , CF_Fy2H2 = @CF_Fy2H2
                    , CF_Fy3H1 = @CF_Fy3H1
                    , CF_Fy3H2 = @CF_Fy3H2
                    , CF_Fy4H1 = @CF_Fy4H1
                    , CF_Fy4H2 = @CF_Fy4H2

                    , UpdatedBy = @UserId
                    , UpdatedAt = GETDATE()

                WHERE NonPDDetailId = @NonPDDetailId;

                SELECT
                    'Record Updated Successfully' AS Message,
                    @NonPDDetailId AS NonPDDetailId;

            END

        -----------------------------------------------------
        -- TYPE 4 : SOFT DELETE
        -----------------------------------------------------
              ELSE IF @Type = 4
            BEGIN

                IF EXISTS (
                    SELECT 1
                    FROM TBL_BudgetV2_NonPDDetails
                    WHERE NonPDDetailId = @NonPDDetailId
                      AND ISNULL(IsDeleted, 0) = 0
                )
                BEGIN
                    UPDATE TBL_BudgetV2_NonPDDetails
                    SET
                          IsDeleted = 1,
                          DeletedBy = @UserId,
                          DeletedAt = GETDATE()
                    WHERE NonPDDetailId = @NonPDDetailId;

                    SELECT
                        'Record Deleted Successfully' AS Message,
                        @NonPDDetailId AS NonPDDetailId;
                END
                ELSE
                BEGIN
                    SELECT
                        'Record Not Found' AS Message,
                        @NonPDDetailId AS NonPDDetailId;
                END

            END

        -----------------------------------------------------
        -- TYPE 5 : INITIALIZE NonPD MASTER RECORD
        -- Note: Uses Status (not DraftStatus) because TBL_BudgetV2_PDMaster.Status
        -- tracks the overall workflow state (OPEN / SUBMITTED / APPROVED)
        -- which is completely different from PDDetails.DraftStatus (Draft / Completed)
        -----------------------------------------------------
        ELSE IF @Type = 5
        BEGIN

            -- 1. Check if user is Maker of selected Project & Department
            IF EXISTS (
                SELECT 1
                FROM TBL_BudgetV2_ProjectHierarchy PH
                WHERE PH.ProjectId = @ProjectId
                  AND PH.DeptId = @DeptId
                  AND PH.MakerId = @UserId
            )
            BEGIN

                -- 2. Insert only the first time
                IF NOT EXISTS (
                    SELECT 1
                    FROM TBL_BudgetV2_NonPDMaster PDM
                    WHERE PDM.ProjectId = @ProjectId
                      AND PDM.DeptId = @DeptId
                      AND PDM.FyYear = @FyYear
                      AND PDM.CategoryId = @CategoryId
                )
                BEGIN

                    DECLARE @NextRecordId INT;

                    -- UPDLOCK + HOLDLOCK prevents race conditions
                    -- CAST to INT ensures numeric MAX (not alphabetic MAX on VARCHAR)
                    SELECT @NextRecordId = ISNULL(MAX(CAST(RecordId AS INT)), 0) + 1
                    FROM TBL_BudgetV2_NonPDMaster WITH (UPDLOCK, HOLDLOCK);

                    INSERT INTO TBL_BudgetV2_NonPDMaster
                    (
                          RecordId
                        , ProjectId
                        , FyYear
                        , DeptId
                        , CategoryId
                        , Status        -- Workflow status of the Master record (OPEN/SUBMITTED/APPROVED)
                        , PendingWithUser
                        , CreatedAt
                        , UpdatedAt
                        , CreatedBy
                        , UpdatedBy
                    )
                    VALUES
                    (
                          CAST(@NextRecordId AS VARCHAR(20))
                        , @ProjectId
                        , @FyYear
                        , @DeptId
                        , @CategoryId
                        , 'OPENED'
                        , @UserId
                        , GETDATE()
                        , GETDATE()
                        , @UserId
                        , @UserId
                    );

                    SELECT
                    'Initialized Successfully' AS Message,
                    PDM.Status,
                    PDM.PendingWithUser
                FROM TBL_BudgetV2_NonPDMaster PDM
                WHERE PDM.ProjectId = @ProjectId
                  AND PDM.DeptId = @DeptId
                  AND PDM.FyYear = @FyYear
                  AND PDM.CategoryId = @CategoryId;

                END
                ELSE
                BEGIN
                   SELECT
                    'Record already initialized' AS Message,
                        PDM.Status,
                        PDM.PendingWithUser
                    FROM TBL_BudgetV2_NonPDMaster PDM
                    WHERE PDM.ProjectId = @ProjectId
                      AND PDM.DeptId = @DeptId
                      AND PDM.FyYear = @FyYear
                      AND PDM.CategoryId = @CategoryId;
                END

            END
            ELSE
            BEGIN
                  SELECT
                    'User is not authorized as Maker for this Project and Department' AS Message,
                        PDM.Status,
                        PDM.PendingWithUser
                    FROM TBL_BudgetV2_NonPDMaster PDM
                    WHERE PDM.ProjectId = @ProjectId
                      AND PDM.DeptId = @DeptId
                      AND PDM.FyYear = @FyYear
                      AND PDM.CategoryId = @CategoryId;
            END

        END

          -----------------------------------------------------
        -- TYPE 6 : APPROVAL REQUEST
        ------------------------------------------------------
           ELSE IF @Type = 6
            BEGIN
                DECLARE @HistoryId VARCHAR(50);
                DECLARE @MakerId VARCHAR(50)
                       ,@Approver1 VARCHAR(50)
                       ,@Approver2 VARCHAR(50)
                       ,@Approver3 VARCHAR(50)

                       ,@CurrentPendingUser VARCHAR(50)

                       
                       ,@NewStatus VARCHAR(100)
                       ,@NewPendingUser VARCHAR(50);

                BEGIN TRY
                 

                    BEGIN TRANSACTION;

                    --------------------------------------------------
                    -- Get Hierarchy
                    --------------------------------------------------
                    SELECT
                        @MakerId   = MakerId,
                        @Approver1 = Approver1,
                        @Approver2 = Approver2,
                        @Approver3 = Approver3
                    FROM TBL_BudgetV2_ProjectHierarchy
                    WHERE ProjectId = @ProjectId
                    AND DeptId = @DeptId;

                    IF ISNULL(@MakerId,'') = ''
                    BEGIN
                        SELECT
                            0 AS Success,
                            'Project Hierarchy Not Found' AS Message;

                        ROLLBACK TRANSACTION;
                        RETURN;
                    END

                    --------------------------------------------------
                    -- Get Current Pending User
                    --------------------------------------------------
                    SELECT
                        @CurrentPendingUser = PendingWithUser
                    FROM TBL_BudgetV2_NonPDMaster
                    WHERE ProjectId = @ProjectId
                    AND DeptId = @DeptId;

                    --------------------------------------------------
                    -- Validate User
                    --------------------------------------------------
                    IF ISNULL(@CurrentPendingUser,'') <> ISNULL(@UserId,'')
                    BEGIN
                        SELECT
                            0 AS Success,
                            'Only Pending User Can Perform Action' AS Message;

                        ROLLBACK TRANSACTION;
                        RETURN;
                    END

                    --------------------------------------------------
                    -- POSTED
                    --------------------------------------------------
                    IF UPPER(@ActionPerformed) = 'POSTED'
                    BEGIN

                        SET @NewStatus = 'PENDING WITH APPROVER';
                        SET @NewPendingUser = @Approver1;

                    END

                    --------------------------------------------------
                    -- APPROVED
                    --------------------------------------------------
                    ELSE IF UPPER(@ActionPerformed) = 'APPROVED'
                    BEGIN

                        --------------------------------------------------
                        -- Approver1 Approved
                        --------------------------------------------------
                        IF @UserId = @Approver1
                        BEGIN

                            IF ISNULL(@Approver2,'') <> ''
                            BEGIN
                                SET @NewStatus = 'PENDING WITH APPROVER';
                                SET @NewPendingUser = @Approver2;
                            END
                            ELSE
                            BEGIN
                                SET @NewStatus = 'APPROVED';
                                SET @NewPendingUser = NULL;
                            END

                        END

                        --------------------------------------------------
                        -- Approver2 Approved
                        --------------------------------------------------
                        ELSE IF @UserId = @Approver2
                        BEGIN

                            IF ISNULL(@Approver3,'') <> ''
                            BEGIN
                                SET @NewStatus = 'PENDING WITH APPROVER';
                                SET @NewPendingUser = @Approver3;
                            END
                            ELSE
                            BEGIN
                                SET @NewStatus = 'APPROVED';
                                SET @NewPendingUser = NULL;
                            END

                        END

                        --------------------------------------------------
                        -- Approver3 Approved
                        --------------------------------------------------
                        ELSE IF @UserId = @Approver3
                        BEGIN

                            SET @NewStatus = 'APPROVED';
                            SET @NewPendingUser = NULL;

                        END

                    END

                    --------------------------------------------------
                    -- REVIEW BACK
                    --------------------------------------------------
                        ELSE IF UPPER(@ActionPerformed) = 'REVIEW_BACK'
                        BEGIN
                            SELECT @MakerId = MakerId
                            FROM TBL_BudgetV2_ProjectHierarchy
                            WHERE ProjectId = @ProjectId
                              AND DeptId = @DeptId;

                            SET @NewStatus = 'OPENED';
                            SET @NewPendingUser = @MakerId;

                        END

                    --------------------------------------------------
                    -- Update Master
                    --------------------------------------------------
                    UPDATE TBL_BudgetV2_NonPDMaster
                    SET
                        Status = @NewStatus,
                        PendingWithUser = @NewPendingUser,
                        UpdatedBy = @UserId,
                        UpdatedAt = GETDATE()
                    WHERE ProjectId = @ProjectId
                    AND DeptId = @DeptId;

                    --------------------------------------------------
                    -- Insert History
                    --------------------------------------------------
                    SELECT @HistoryId = ISNULL(MAX(CAST(HistoryId AS INT)), 0) + 1 FROM TBL_BudgetV2_NonPDApproverHistory;
                        INSERT INTO TBL_BudgetV2_NonPDApproverHistory
                        (
                            HistoryId,
                            ProjectId,
                            DeptId,
                            ActionPerformedBy,
                            Remarks,
                            ActionPerformed,
                            TDate
                        )
                        VALUES
                        (
                            @HistoryId,
                            @ProjectId,
                            @DeptId,
                            @UserId,
                            @ApprovalRemarks,
                            @ActionPerformed,
                            GETDATE()
                        );

                    COMMIT TRANSACTION;

                    SELECT
                        1 AS Success,
                        'Action Processed Successfully' AS Message,
                        @ProjectId AS ProjectId,
                        @DeptId AS DeptId,
                        @ActionPerformed AS ActionPerformed,
                        @NewStatus AS Status,
                        @NewPendingUser AS PendingWithUser;

                END TRY
                BEGIN CATCH

                    IF @@TRANCOUNT > 0
                        ROLLBACK TRANSACTION;

                    SELECT
                        0 AS Success,
                        ERROR_MESSAGE() AS Message;

                END CATCH

            END


          -----------------------------------------------------
            -- TYPE 7 : APPROVAL HISTORY
          ------------------------------------------------------
            ELSE IF @Type = 7
            BEGIN

                SELECT
                    H.HistoryId,
                    H.ProjectId,
                    H.DeptId,
                    H.ActionPerformedBy,
                    E.EMPLOYEE_NAME AS EmployeeName,
                    H.Remarks,
                    H.ActionPerformed,
                    H.TDate
                FROM TBL_BudgetV2_NonPDApproverHistory H
                LEFT JOIN Employees E
                    ON E.USERID = H.ActionPerformedBy
                WHERE H.ProjectId = @ProjectId
                  AND H.DeptId = @DeptId
                ORDER BY H.TDate ASC;

            END


        -- Commit the transaction if all steps succeeded
        IF @@TRANCOUNT > 0
        BEGIN
            COMMIT TRAN;
        END

    END TRY
    BEGIN CATCH

        -- Rollback everything if any step fails
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRAN;
        END

        -- Return the SQL error cleanly to the C# API
        SELECT 'Error: ' + ERROR_MESSAGE() AS Message;

    END CATCH

END